<!DOCTYPE html>
<html lang="en">
<head>
    {% load django_bootstrap5 %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% include 'tracker/navbar.html' %}

    <div class="container mt-5 mx-5">
        {% block content %}
        {% endblock %}
        <hr />
        <footer>
            <p>© Sarah Noles Muth 2024</p>
        </footer>
    </div>
</body>
</html>