<nav class="navbar navbar-expand-sm" style="background-color: #e01f26;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CJ Rball Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbartoggler" aria-controls="navbartoggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-3" id="navbartoggler">    
            <form role="search">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>