<!-- <nav class="navbar" style="background-color: #e01f26;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CJ Racquetball Tourney Tracker</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light" type="submit">Search</button>
        </form>
    </div>
</nav> -->

<nav class="navbar" style="background-color: #e01f26;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CJ Racquetball Tourney Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbartoggler" aria-controls="navbartoggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbartoggler">          
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>